main {
  background-image: url(../assets/images/background/intro.png);
  background-repeat: no-repeat;
  height: 750px;
  background-size: contain;
  #intro {
    padding-top: 120px;
    max-width: 1040px;
    margin-inline: auto;
    #inner-intro-container {
      max-width: 680px;
      margin-inline: auto;
      #avatar {
        position: relative;
        margin: 8px;
        padding-bottom: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        #code-icon {
          position: absolute;
          top: 45%;
          left: 52.5%;
          max-width: 32px;
        }
        #circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 96px;
          height: 96px;
          border-radius: 50%;
          border: 2px solid var(--color-red);
          img {
            width: 87.27px;
            border-radius: 50%;
            object-fit: cover;
            aspect-ratio: 1/1;
          }
        }
      }
      h1 {
        margin-bottom: 20px;
      }
      p {
        font: var(--text-sm);
        color: var(--color-gray-400);
        margin-bottom: 80px;
      }
    }
    #tags {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      gap: 16px;
      .tag {
        padding: 8px 16px;
        font: var(--text-md);
        background-color: var(--color-gray-300);
        color: var(--color-gray-500);
        display: inline-block;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        img {
          height: 24px;
        }
      }
    }
  }
}

#caret-double-down {
  margin-top: 94px;
  img {
    height: 32px;
  }
}
